body {
   margin: 0%;
   padding: 0%;
   background-color: #1F1F1F;
   color: white;
}

li{
   list-style: none;
}
a{
   text-decoration: none;
   color: #fff;
}

header{
   background-image: url("../images/header_hero.png");
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   height: 800px;
   opacity: 0.6;
}
.logo{
   width: 120px;
   height: 60px;
}
.header_main{
   display: flex;
   justify-content:space-between ;
}

.nav{
   height: 170px;
}
.nav_item{
   margin-right: 15px;
   align-items: center;
}

.header_content{
   text-align: center;
   margin-top: 150px;
}

.header_title{
   margin-bottom: 30px;
}
.header_text{
   margin-bottom: 30px;
}

.btn{
   color:#fff;
   background-color: teal;
}
.adaption{
   padding-top: 100px;
   padding-bottom: 100px;
}
.adaption_main{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.adaption_text{
   width: 400px;
}


.platform{
   padding-top: 100px;
   padding-bottom: 100px;
}
.platform_main{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.platform_text{
   width: 400px;
}

