<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/style.css">
   <title>video</title>
</head>

<body>

   <div class="headerv">
      <div class="container">
         <div class="headerv_nav">
            <img src="/images/horizontal_on_white_by_logaster__1_-removebg-preview1.png" alt="logo" class="logo">
            <div class="headerv_text">
               <a href="/index.html">Главная</a>
               <a href="allSeries.html">Фильмы</a>
            </div>
         </div>
      </div>
   </div>
   <div class="main">
      <div class="container">
         <h1 class="video_title">Человек-паук 2</h1>
         <div class="video_side">
            <video src="../video/VID_20220925_092612_410.mp4" controls class="video"
               poster="/images/header_hero.png"></video>
         </div>
         <div class="video_btns">
            <div class="video_btnTop"> <a href="video1.html">Предыдущая серия</a> <a href="video2.html">Следующая
                  серия</a> </div>
            <div class="video_btnBottom"><a href="allSeries.html">Все серии</a></div>
         </div>
      </div>
   </div>
   <section class="comment">
      <div class="container">
         <div class="comment_place"></div>
         <input type="text" class="comment_form" placeholder="Оставьте коментарий">
         <button class="comment_btn">Опубликовать</button>
      </div>
   </section>

   <footer>
      <div class="container">
         <div class="footer_main">
            <p>Задавайте свои вопросы</p>
            <div class="footer_bottom">
               <p>Наши контакты: +77772395194</p>
               <p>+77772395194</p>
            </div>
            <p>serikseka2004@gmail.com</p>
         </div>
      </div>
   </footer>

   <script src="../js/jquery.js"></script>
   <script src="../js/bootstrap.min.js"></script>
   <script src="../js/script.js"></script>
</body>

</html>