<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/style.css">
   <title>video</title>
</head>

<body>

   <div class="headerv">
      <div class="container">
         <div class="headerv_nav">
            <img src="/images/horizontal_on_white_by_logaster__1_-removebg-preview1.png" alt="logo" class="logo">
            <div class="headerv_text">
               <a href="/index.html">Главная</a>
               <a href="#">Фильмы</a>
            </div>
         </div>
      </div>
   </div>
   <div class="main">
      <div class="container">
         <div class="video_side">
            <video src="../video/VID_20220925_092612_410.mp4" controls class="video"
               poster="/images/header_hero.png"></video>
         </div>
         <div class="video_btns">
            <div class="video_btnTop"> <a href="#">Предыдущая серия</a> <a href="#">Следующая серия</a> </div>
            <div class="video_btnBottom"><a href="#">Все серии</a></div>
         </div>
      </div>
   </div>

</body>

</html>